# Ignore all node_modules recursively
**/node_modules/

# Ignore all .env files
**/.env*
!**/.env.example

# Ignore all logs and build outputs
**/logs/
**/dist/
**/build/
**/*.log

# FVM Version Cache
.fvm/

# HTTP client request files
request.http

# Editor and temporary files
**/*.swp
**/*.swo
**/*.swn
**/*.tmp

# OS files
.DS_Store
Thumbs.db

